.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Set height to 100vh to center the content vertically */
  gap: 10px; /* Equal spacing between child elements */
}

.checkout-container ul {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding for ul element */
}

.checkout-container input {
  margin-bottom: 10px;
}

.checkout-container button {
  margin-top: 10px;
}

.checkout-container h2,
.checkout-container h3,
.checkout-container p {
  margin: 5px;
}
